<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/admin">Admin Page</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="/admin">Hi !</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li><a class="nav-link" href="/admin"><i class="fas fa-fire"></i> <span>Dashboard</span></a></li>
            <li class="menu-header">Menu Utama</li>
            <li class="dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i
                        class="fas fa-users"></i><span>User</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/admin"><i class="fas fa-user"></i> Users</a>
                    </li>
                    
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i
                        class="fas fa-newspaper"></i></i> <span>Konten</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/kategori"><i class="fas fa-list"></i> Kategory</a></li>
                    <li><a class="nav-link" href="/admin/konten"><i class="far fa-file"></i> Konten</a></li>
                    <li><a class="nav-link" href="/admin/komentar"><i class="fas fa-comments"></i> Komentar</a></li>
                </ul>
            </li>
    </aside>
</div>
