<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" lang="id_ID">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="GHBZgXLJ0lUabyjjtFAhZWwdVdz72CyfBORiQVqr">
    <title>Sekolah Desain (sekolahdesain.id)</title>
    <meta name="description"
        content="Segera Daftar di The New SekolahDesain.id. SekolahDesain.id adalah platform pelatihan desain secara online yang paling besar se-Indonesia. The New Sekolah Desain lebih cepat, materi lebih banyak dan lengkap, mentor sangat profesional." />
    <!-- JQuery Style -->
    <link rel="stylesheet" href="https://www.sekolahdesain.id/vendor/adminlte/plugins/jquery-ui/jquery-ui.css">
    <!-- Boostrap Style -->
    <link rel="stylesheet" href="https://www.sekolahdesain.id/vendor/bootstrap4/css/bootstrap.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet"
        href="https://www.sekolahdesain.id/vendor/adminlte/plugins/fontawesome-free/css/all.min.css ">
    <link rel="stylesheet"
        href="https://www.sekolahdesain.id/vendor/adminlte/plugins/fontawesome-free/css/fontawesome.css ">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="https://www.sekolahdesain.id/vendor/slick/css/slick.min.css ">
    <link rel="stylesheet" href="https://www.sekolahdesain.id/vendor/slick/css/slick-theme.min.css ">
    <!-- Chart CSS -->
    <link rel="stylesheet" href="https://www.sekolahdesain.id/vendor/chart/Chart.css ">
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="https://www.sekolahdesain.id/vendor/select2/css/select2.min.css ">
    <!-- Daterangepicker CSS -->
    <link rel="stylesheet"
        href="https://www.sekolahdesain.id/vendor/adminlte/plugins/daterangepicker/daterangepicker.css ">
    <!-- Tagify -->
    <link rel="stylesheet" href="https://www.sekolahdesain.id/vendor/tagify/tagify.css ">
    <!-- Google F -->
    <!-- Theme Custom Style -->
    <link rel="stylesheet" href="https://www.sekolahdesain.id/css/main.css">

    <link rel="icon" href="https://www.sekolahdesain.id/assets/images/favicon192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="https://www.sekolahdesain.id/assets/images/favicon32x32.png" />
    <meta name="msapplication-TileImage" content="https://www.sekolahdesain.id/assets/images/favicon32x32.png" />

    <meta name="theme-color" content="#009dff">
    <meta name="author" content="Sekolah Desain">
    <meta property="og:site_name" content="Sekolah Desain">
    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
</head>

<body itemscope itemtype="http://schema.org/WebPage" class="login-bg">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJHXVXL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-light navbar-at-top">

        <div class="container">
            <a href="https://www.sekolahdesain.id">
                <img class="navbar-logo" src="https://www.sekolahdesain.id/assets/images/logo-long.svg">
            </a>
            <div class="before-login-nav">
                <ul>
                    <li><a href="/" class="front-login">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="main-page">
        <div class="row justify-content-center">
            <div class=" col-md-11  ">
                <div class="container p-2">
                    <div class="row-login">
                        <div class="row justify-content-center">

                            <div class="col-md-6 img-login">
                                <img src="https://www.sekolahdesain.id/assets/images/login-ilust.png" alt="">
                            </div>

                            <div class="col-md-6 login-form">
                                <div class="col-12 mb-3 pt-2 ads-login">
                                    <div id="carousel-example-generic" class="carousel slide p-0" data-ride="carousel">
                                        <ol class="carousel-indicators slider-mark">
                                            <li data-target="#carousel-example-generic" data-slide-to="0"
                                                class="active"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item  active  ">
                                                <a href="https://www.sekolahdesain.id/">
                                                    <img class="full-width"
                                                        src="https://assets.sekolahdesain.id/sliders/banner2-01.png"
                                                        alt="Slider">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                        <li class="nav-item per-tab">
                                            <a class="nav-link login-tab active" id="one-tab" data-toggle="tab"
                                                href="#one" role="tab" aria-controls="One"
                                                aria-selected="true">Masuk</a>
                                        </li>
                                        <li class="nav-item per-tab">
                                            <a class="nav-link register-tab " id="two-tab" data-toggle="tab" href="#two"
                                                role="tab" aria-controls="Two" aria-selected="false">Daftar</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content mt-2" id="myTabContent">
                                        <div class="tab-pane fade active show p-3" id="one" role="tabpanel"
                                            aria-labelledby="one-tab">
                                            <form id="login" action="/signup" method="post">
                                                <div class="form-group row">
                                                    <label for="email"
                                                        class="col-md-4 col-form-label label-form text-md-right">E-Mail</label>

                                                    <div class="col-md-8">
                                                        <input id="email-login" type="email" placeholder="email"
                                                            class="form-control " name="email" value="" required
                                                            autocomplete="email">

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="password-login"
                                                        class="col-md-4 col-form-label label-form text-md-right">Kata
                                                        Sandi</label>

                                                    <div class="col-md-8">
                                                        <input id="password-login" type="password"
                                                            placeholder="Kata Sandi" class="form-control "
                                                            name="password" required autocomplete="new-password">
                                                        <span toggle="#password-login"
                                                            class="fa fa-fw fa-eye field-icon toggle-password-login"></span>

                                                    </div>
                                                    <div
                                                        class="col-md-8 mt-2 offset-md-4 d-flex justify-content-between">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="remember" id="remember">
                                                            <label class="form-check-label" for="remember">
                                                                Ingat Saya
                                                            </label>
                                                        </div>
                                                        <a href="https://www.sekolahdesain.id/password/reset">Lupa kata
                                                            sandi?</a>
                                                    </div>
                                                </div>
                                                <% if(data) {  %>
                                                    <p class="mb-1"><%- data %></p>
                                                  <% } else{ }%>
                                                <div class="form-group mt-3 row mb-0">
                                                    <div class="col-md-8 offset-md-4 text-center">
                                                        <button type="submit" class="btn btn-register g-recaptcha"
                                                            data-sitekey="6LfMYcUZAAAAAJgVH9XS1J2VOiLSJO4BFDWiVUz7"
                                                            data-callback='login' data-action='submit'>
                                                            Mulai Belajar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade p-3" id="two" role="tabpanel"
                                            aria-labelledby="two-tab">

                                            <form id="registration" method="POST"
                                                action="https://www.sekolahdesain.id/register">
                                                <input type="hidden" name="_token"
                                                    value="GHBZgXLJ0lUabyjjtFAhZWwdVdz72CyfBORiQVqr">
                                                <div class="form-group row">
                                                    <label for="name"
                                                        class="col-md-4 col-form-label label-form text-md-right">Nama</label>

                                                    <div class="col-md-8">
                                                        <input id="name" type="text" placeholder="Nama Lengkap"
                                                            class="form-control " name="name" value="" required
                                                            autocomplete="name" autofocus>
                                                        <span class="note-input">*Masukkan Nama Lengkap</span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="email"
                                                        class="col-md-4 col-form-label label-form text-md-right">E-Mail</label>

                                                    <div class="col-md-8">
                                                        <input id="email" type="email" placeholder="E-Mail"
                                                            class="form-control " name="email" value="" required
                                                            autocomplete="email">

                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="email"
                                                        class="col-md-4 col-form-label label-form text-md-right">Konfirmasi
                                                        E-Mail</label>

                                                    <div class="col-md-8">
                                                        <input id="email-confirm" type="email"
                                                            placeholder="Tulis Ulang E-Mail di atas"
                                                            class="form-control registration-form "
                                                            name="email_confirmation" value="" required>
                                                        <span id="email-confirmation" class="invalid-feedback "
                                                            role="alert">
                                                            <strong>Email dan Konfirmasi Email tidak sama.</strong>
                                                        </span>

                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label for="whatsapp"
                                                        class="col-md-4 col-form-label label-form text-md-right">WhatsApp</label>

                                                    <div class="col-md-8">
                                                        <input id="whatsapp" type="text" placeholder="WhatsApp"
                                                            class="form-control registration-form " name="whatsapp"
                                                            value="" required>

                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="city_id"
                                                        class="col-md-4 col-form-label label-form text-md-right">Kota
                                                        Asal</label>

                                                    <div class="col-md-8">
                                                        <select name="city_id" id="city_id"
                                                            class="form-control registration-form select2 full-width"
                                                            required>
                                                            <option value="">--Pilih Kota--</option>
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="password"
                                                        class="col-md-4 col-form-label label-form text-md-right">Kata
                                                        Sandi</label>

                                                    <div class="col-md-8">
                                                        <input id="password" type="password" placeholder="Kata Sandi"
                                                            class="form-control " name="password" required
                                                            autocomplete="new-password">
                                                        <span toggle="#password"
                                                            class="fa fa-fw fa-eye field-icon toggle-password-first"></span>
                                                        <span class="note-input">*minimal 8 karakter</span>

                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="password-confirm"
                                                        class="col-md-4 col-form-label label-form text-md-right">Konfirmasi
                                                        Kata Sandi</label>

                                                    <div class="col-md-8">
                                                        <input id="password-confirm" type="password"
                                                            class="form-control" placeholder="Konfirmasi Kata Sandi"
                                                            name="password_confirmation" required
                                                            autocomplete="new-password">
                                                        <span toggle="#password-confirm"
                                                            class="fa fa-fw fa-eye field-icon toggle-password-confirm"></span>
                                                        <span class="note-input">*memastikan nggak lupa</span>
                                                    </div>

                                                </div>

                                                <div class="form-group row mt-3">
                                                    <div class="col-md-8 offset-md-4 tos-checkbox">
                                                        <input type="checkbox" class="d-inline" name="agreement"
                                                            required> Dengan ini saya
                                                        menyatakan telah membaca dan setuju kepada <a
                                                            href="https://www.sekolahdesain.id/sk"
                                                            target="_blank">Syarat dan
                                                            Ketentuan</a> dan <a
                                                            href="https://www.sekolahdesain.id/kebijakan"
                                                            target="_blank">Kebijakan
                                                            Privasi</a>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-0">
                                                    <div class="col-md-8 offset-md-4 text-center">
                                                        <button type="submit" class="btn btn-register g-recaptcha"
                                                            data-sitekey="6LfMYcUZAAAAAJgVH9XS1J2VOiLSJO4BFDWiVUz7"
                                                            data-callback='register' data-action='submit'>
                                                            Daftar
                                                        </button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade show p-3" id="three" role="tabpanel"
                                            aria-labelledby="three-tab">
                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <div class="card-content bg-danger text-white">
                                                        <div class="card-body">
                                                            <p><strong>VERIFIKASI DAN PENUKARAN KODE VOUCER
                                                                    PRAKERJA</strong> berada di tautan
                                                                <a href="https://member.sekolahdesain.net/verifikasi/"
                                                                    class="text-white">https://member.sekolahdesain.net/verifikasi/</a>.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="card-content bg-white mt-3">
                                                        <div class="card-body">
                                                            <p><strong>PENDAFTARAN REGULER (NON-PRAKERJA) klik TAB
                                                                    DAFTAR</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- Bootstrap Script -->
    <!-- <script src="http://code.jquery.com/jquery-3.4.1.js"></script> -->
    <script src="https://www.sekolahdesain.id/vendor/adminlte/plugins/jquery/jquery-3.5.js" defer></script>
    <script src="https://www.sekolahdesain.id/vendor/bootstrap4/js/popper.js" defer></script>
    <script src="https://www.sekolahdesain.id/vendor/bootstrap4/js/bootstrap.js" defer></script>
    <script src="https://www.sekolahdesain.id/vendor/lazyload/lazyload.js" defer></script>
    <!-- Sweetalert -->
    <script src="https://www.sekolahdesain.id/vendor/sweetalert/sweetalert.js" defer></script>
    <!-- Slick -->
    <script src="https://www.sekolahdesain.id/vendor/slick/js/slick.min.js" defer></script>
    <!-- Daterangepicker JS -->
    <script src="https://www.sekolahdesain.id/vendor/adminlte/plugins/moment/moment.min.js" defer></script>
    <script src="https://www.sekolahdesain.id/vendor/adminlte/plugins/daterangepicker/daterangepicker.js" defer>
    </script>
    <script src="https://www.sekolahdesain.id/vendor/adminlte/plugins/jquery-ui/jquery-ui.js" defer></script>

    <!-- Select2 JS -->
    <script src="https://www.sekolahdesain.id/vendor/select2/js/select2.full.min.js" defer></script>
    <!-- Draggable -->
    <script src="https://www.sekolahdesain.id/vendor/draggable/draggable.min.js" defer></script>