<!DOCTYPE html>
<html>

<head>
    <!-- As a heading -->
    <nav class="navbar bg-header justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="d-inline-block align-top" width="160" height="40" src="/images/logo.svg">
            </a>
            <a class="title" href="/">Blog</a>
        </div>
    </nav>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Boostrap Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <style>
        body {
            background-color: #009DFF;
        }
    </style>
    <title>
        404 - Not Found
    </title>
</head>

<body>
    <br>
    <br>
    <br>
    <center>
        <img class="img-fluid" src="/images/cloud.png">
        <h1 class="font-white">404 | Not Found</h1>
    </center>

    <footer class="margin0" style="margin-top:0">
        <div class="container">
            <div class="container-footer">
                <ul>
                    <li><a href="https://www.sekolahdesain.id/why_sekdes">Tentang Kami</a> </li>
                    <li><a href="https://www.sekolahdesain.id/user-guide">Panduan Pengguna</a> </li>
                    <li><a href="https://www.sekolahdesain.id/contact">Kontak Kami</a> </li>
                    <li><a href="https://www.sekolahdesain.id/kebijakan">Kebijakan Privasi</a> </li>
                    <li><a href="https://www.sekolahdesain.id/sk">Syarat & ketentuan</a> </li>
                </ul>
            </div>
            <div class="container-footer-second">
                <ul>
                    <li>© Copyright 2020</li>
                    <li> • Sekolah Desain</li>
                    <li> • Semua Bisa Desain!</li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>

</html>